In [ ]:
Data Science Tools and Ecosystem

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
Some of the popular languages that Data Scientists use are: Phyton, R, Julia

In [ ]:
Some of the commonly used libraries used by Data Scientists include:NumPy,Pandas. SciPy.

Data Science Tools
##Create a line plot

In [ ]:
TensorFlow

In [ ]:
Apache Spark

In [ ]:
Scikit-learn

In [ ]:
Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

In [ ]:
This will convert 200 minutes to hours by diving by 60

In [5]:
(200/60)

3.3333333333333335

Objectives:
Phyton
R
SQL
Javascript
Julia

In [ ]:
Author: Javier De Anda